body {
  font-family: Arial;
  background: #f4f6f8;
}

.container {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 60px;
  border-radius: 8px;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.done span {
  text-decoration: line-through;
  color: gray;
}

